# ==================================
# Keil MDK 编译生成的中间文件与目标文件
# ==================================
*.o
*.d
*.crf
*.htm
*.dep
*.lnp
*.sct
*.map
*.axf
*.hex
*.bin
*.build_log.htm
*.iex

# Keil 自动生成的编译存放目录
Listings/
Objects/
DebugConfig/
EventRecorder/


# ==================================
# STM32CubeMX 自动生成的缓存
# ==================================
.mxproject

# ==================================
# VS Code 本地配置（按需保留）
# ==================================
.vscode/